---
apiVersion: bpfman.io/v1alpha1
kind: ClusterBpfApplication
metadata:
  labels:
    app.kubernetes.io/name: uretprobeprogram
  name: go-uretprobe-counter-example
spec:
  # Select all nodes
  nodeSelector: {}
  byteCode:
    image:
      url: quay.io/bpfman-bytecode/go-uretprobe-counter:latest
      imagePullPolicy: IfNotPresent
  programs:
    - name: uretprobe_counter
      type: uretprobe
      uretprobeInfo:
        links:
          - function: main.getCount
            target: /go-target
            containers:
              namespace: go-target
              pods: {}
              containerNames:
                - go-target
