---
apiVersion: bpfman.io/v1alpha1
kind: ClusterBpfApplication
metadata:
  labels:
    app.kubernetes.io/name: bpfapplication
  name: app-counter
spec:
  # Select all nodes
  nodeSelector: {}
  byteCode:
    image:
      url: https://quay.io/bpfman-bytecode/go-app-counter:latest
      imagePullPolicy: Always
  programs:
    - name: kprobe_counter
      type: KProbe
      kprobe:
        links:
          - function: try_to_wake_up
            offset: 0
    - name: tracepoint_kill_recorder
      type: TracePoint
      tracepoint:
        links:
          - name: syscalls/sys_enter_kill
    - name: stats
      type: TC
      tc:
        links:
          - interfaceSelector:
              primaryNodeInterface: true
            priority: 55
            direction: Ingress
    - name: tcx_stats
      type: TCX
      tcx:
        links:
          - interfaceSelector:
              primaryNodeInterface: true
            priority: 500
            direction: Ingress
    - name: uprobe_counter
      type: UProbe
      uprobe:
        links:
          - function: main.getCount
            target: /go-target
            containers:
              namespace: go-target
              pods: {}
              containerNames:
                - go-target
    - name: xdp_stats
      type: XDP
      xdp:
        links:
          - interfaceSelector:
              primaryNodeInterface: true
            priority: 55
