---
apiVersion: bpfman.io/v1alpha1
kind: ClusterBpfApplication
metadata:
  labels:
    app.kubernetes.io/name: tcprogram
  name: go-tc-counter-example
spec:
  # Select all nodes
  nodeSelector: {}
  byteCode:
    image:
      url: quay.io/bpfman-bytecode/go-tc-counter:latest
  programs:
    - name: stats
      type: tc
      tcInfo:
        links:
          - interfaceSelector:
              primaryNodeInterface: true
            priority: 55
            direction: ingress
