---
apiVersion: bpfman.io/v1alpha1
kind: ClusterBpfApplication
metadata:
  labels:
    app.kubernetes.io/name: kprobeprogram
  name: go-kprobe-counter-example
spec:
  # Select all nodes
  nodeSelector: {}
  byteCode:
    image:
      url: https://quay.io/bpfman-bytecode/go-kprobe-counter:latest
      imagePullPolicy: IfNotPresent
  programs:
    - name: kprobe_counter
      type: KProbe
      kprobe:
        links:
          - function: try_to_wake_up
            offset: 0
