[Unit]
Description=Install files need to run bpfctl
DefaultDependencies=no
After=bpfd.service

[Service]
Type=oneshot
Environment="RUST_LOG=Info"
ExecStart=/usr/sbin/bpfctl certs
ExecStartPre=/bin/sleep 3
RemainAfterExit=yes
MemoryAccounting=true
MemoryLow=infinity
MemoryMax=infinity
User=bpfctl
Group=bpfd
ConfigurationDirectory=bpfctl bpfctl/certs bpfctl/certs/bpfctl
ConfigurationDirectoryMode=6755
AmbientCapabilities=
CapabilityBoundingSet=

[Install]
WantedBy=bpfd.service
