apiVersion: bpfd.io/v1alpha1
kind: TracepointProgram
metadata:
  labels:
    app.kubernetes.io/name: tracepointprogram
  name: go-tracepoint-counter-example
spec:
  sectionname: tracepoint_kill_recorder
  # Select all nodes
  nodeselector: {}
  name: syscalls/sys_enter_kill
  bytecode:
    image:
      url: quay.io/bpfd-bytecode/go-tracepoint-counter:latest
