name: bpfman-docs

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
    tags:
      - v*

jobs:
  build-docs:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qy \
            libxml2-dev \
            libxslt-dev \

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # @v4
        with:
          ref: gh-pages
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # @v4
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # @v5
        with:
          # prettier-ignore
          go-version: '1.21' # yamllint disable-line rule:quoted-strings

      - name: Build API docs
        run: |
          ./scripts/api-docs/generate.sh apidocs.html

      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Deploy Docs (Release Version)
        if: startsWith(github.ref_name, 'v')
        run: |
          uv run mike deploy --push --update-aliases ${{ github.ref_name }} latest

      - name: Deploy Docs (Development Version)
        if: github.ref_name == 'main'
        run: |
          uv run mike deploy --push main
