apiVersion: bpfd.io/v1alpha1
kind: TcProgram
metadata:
  labels:
    app.kubernetes.io/name: tcprogram
  name: tc-pass-all-nodes
spec:
  sectionname: classifier
  # Select all nodes
  nodeselector: {}
  interfaceselector:
    primarynodeinterface: true
  priority: 0
  direction: INGRESS
  bytecode:
    image:
      url: quay.io/bpfd-bytecode/tc_pass:latest